body {
    font-family: Arial, Helvetica, sans-serif; /* character style */
    background-color:beige; /* background color for the whole webpage */
    margin: 40px; /* distance to the edge*/
}

h1 { /* first level head */
    color:sienna; /* head char color */
    text-align: center; /* text centered */
}

h2 {
    color:darkolivegreen;
    text-align: center;
}

p { /* paragraph */
    font-size: 18px;
    line-height: 1.6; /* distance between lines */
}

.img-row{ /* img and char style */
    display: flex; /* display in row */
    align-items: center; /* char and pic same height */
    justify-content: center; /* all centered */
    gap: 24px; /* distance between pic and char */
}

.img-row p{
    max-width: 300px;
    white-space: pre-line;
}

.img-row img{ /* img style */
    width: 220px; /* img size */
    border-radius: 12px; /* round edge effect */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* shadow under img */
}

/* 初始隐藏目录 */
#sidebar {
    width: 200px;
    height: 100vh;
    background: #f8d192;
    position: fixed;
    top: 0;
    left: -200px; /* 默认隐藏在左侧外 */
    transition: left 0.3s; /* 平滑动画 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 文字垂直居中 */
    box-shadow: 5px 0 15px rgba(107, 82, 1, 0.246);
}
/* 目录展开时 */
#sidebar.open {
    left: 0; /* 滑入可视区域 */
}

/* 菜单项*/
#sidebar ul {
    list-style: none;
    text-align: center;
}
    
#sidebar li {
    color: #39502c;
    padding: 15px;
    font-size: 18px;
    border-bottom: 1px solid rgba(93, 114, 85, 0.1);
    transition: background 0.3s;
}

#sidebar li:hover {
    background: #dda038; /* 悬停加深橘 */
}

/* 触发图标 */
#menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #274b34;
    z-index: 100; /* 确保图标在侧边栏上方 */
    transition: color 0.3s;
}